/* reset CSS */
/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {       margin: 0;      padding: 0;     border: 0;      outline: 0;     font-size: 100%;        vertical-align: baseline; }
body {  line-height: 1; }
ol, ul {        list-style: none;}
blockquote, q { quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: ''; content: none;}
:focus {        outline: 0;}
ins {   text-decoration: none;}
del {   text-decoration: line-through;}
table { border-collapse: collapse;      border-spacing: 0;}
 */
/* MY CSS */
html {overflow-y: hidden !important;overflow-x: hidden !important;  }
table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; }
a:link {color: #f5d33d; font-style: none;text-decoration:none;}
a:hover {color: #fff ;}
a:visited {color: #f5d33d;}
body { background: #050505; line-height: 100%; margin: 0px; padding: 0px; color: #aaa; text-align: justify; font-size: 11px; font-family: verdana, helvetica, sans-serif; font-style: none; margin-left: auto; margin-right: auto; background-repeat: repeat;  }
.round { -moz-border-radius: 6px; border-radius: 6px; }
.smallround { -moz-border-radius: 3px; border-radius: 3px; }
#tabs-1 { height:100%;}
#tabs-2 { height:100%;}
#tabs { width:98%; left:1%; position:relative;}
.ui-tabs-panel { position:relative; top:5px; height:calc(100vh - 5px); }
.blok { position:absolute; overflow:hidden; z-index:0;border-style:solid; border-width:1px; border-color:#666; background:#444; width: 33%; height: 46%;}
#button { position:relative; width:15px; height:12px; float:left;}
#button img { position:relative; width:15px; height:12px; top:4px; z-index:333;}
#button:hover img { width:22px; height:22px; top:0px; left:0px; z-index:999;}
#sbutton { position:relative; width:15px; height:12px; float:left;}
#sbutton img { position:relative; width:15px; height:12px; top:4px; z-index:333; }
#sbutton:hover img { width:22px; height:22px; top:0px; z-index:999;}
.refresh { position:relative; width:15px; height:12px; float:left;}
.refresh img { position:relative; width:15px; height:12px; top:4px; z-index:333;}
.refresh:hover img { width:22px; height:22px; top:0px; left:0px; z-index:999;}
.toggle{ float:left; position:relative; height:18px; width:18px; top:2px; }
.toggle img{  width:13px; height:15px;}
.toggle:hover{ left:-2px; top:3px;}
.toggle:hover img{ width:18px; height:18px;}
.stream { position:relative; overflow:hidden; z-index:1; top:0px; left:0px; background-color:#000; }
.buttons   {position:relative; left:2%; top:0%; height:18px; z-index:222; width:90%;}
.sbuttons {position:absolute; display:none; top:3%; left:95%; width:18px; z-index:333;}
.pelcobuttons {overflow:auto; position:relative; left:2%; bottom:0%; z-index:222; height:18px; width:110%;}
.pelcosbuttons { position:absolute; display:none; bottom:1.68%; right: 2%}
#title {  position:absolute; color:#f00; top:89%; left:60%; width:37%; height:10%; border-style:solid; border-width:2px; border-color:#aaa; text-align:left; z-index:999; background-color:#000; }
#title2{ float:left; position:absolute; color:#f00; top:89%; left:60%; width:37%; border-style:solid; border-width:2px; border-color:#aaa; text-align:left; z-index:999; background-color:#000;}
.blank { width:6px !important; height:6px !important;}
.blank img{ display:none;}
.ui-widget-content { background:none !important;}
#login  { display:none; background:#000; padding:10px; color:#fff;width:400px; z-index:999; float:center; top:240px;}
#config { position:absolute; display:inline; background:#000; padding:20px; color:#fff; width:400px; z-index:999; text-align:left; top:25%; left:30%}
#actions { position:relative; right:0px; font-size:20px; font-weight:bold; margin-left:auto; margin-right:auto;}
.buttn { display: block; width: 96%; height: 15px; background: #555; padding: 10px; text-align: center; border-radius: 5px; font-weight: bold; }
#toptitle {text-align:center; color:red; display:inline; width:340px;}
#footer { position:relative; top:200px; right:-140%; width:125px; text-align:center; color:red;}
#clogo {  position:absolute; top:-82%; left:48%; z-index:-1; float:left; opacity:0.4; }
#ttitle { position:absolute; width:130%; left:-15%; top:-55%;}
h1 { font-size:5em; }
#actions  a:visited{ color: red; }
.shadow { position:absolute; width:130%;  font-size:5em; color:white; 
text-shadow: 0 0 10px #fff,0 0 20px #fff,0 0 30px #fff,0 0 240px #2200ff,0 0 70px #2200ff,0 0 80px #2200ff,0 0 100px #2200ff,0 0 150px #2200ff; }
#ttshadow { position:absolute; width:134%; left:-42.3%; top:-80.3%; z-index:-1;}
#toptitleshadow {font-size:1.01em; text-align:center; width:131%;}
#see_id {  position:relative; color:red; font-size:1.3em; left:-12%; text-align:left; top: -37px;}
.headertxt { float:right; padding:6px; color:red;}
.tablehead { border:1px solid grey; text-align:center; font-size:1.2em; color:yellow; }
.trows { border:1px solid grey; text-align:center; }
.tdiv { text-align:left; }
td { border:1px solid grey; background-color:grey; color:black;}
#camlist { position:absolute; top:25%; left:25%}

/* Fullscreen styles - stream only */
.stream:fullscreen,
.stream:-webkit-full-screen,
.stream:-moz-full-screen,
.stream:-ms-fullscreen {
    width: 100vw !important;
    height: 100vh !important;
    max-width: 100vw !important;
    max-height: 100vh !important;
    background: #000 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
}

.stream:fullscreen img,
.stream:fullscreen video,
.stream:-webkit-full-screen img,
.stream:-webkit-full-screen video,
.stream:-moz-full-screen img,
.stream:-moz-full-screen video,
.stream:-ms-fullscreen img,
.stream:-ms-fullscreen video {
    width: auto !important;
    height: auto !important;
    max-width: 100vw !important;
    max-height: 100vh !important;
    object-fit: contain !important;
}

img[name="esp32cam"] {
    width: 100%;
    height: 96%;
    object-fit: contain;
}
